@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

nav {
  background-color: rgb(159, 189, 255);
  display: flex;
  margin: 0;
  padding: 8px 0;
}

#search {
  margin-left: 10px;
  padding-right: 100px;
  border-radius: 5px;
  border: none;
  border-color: #fff;
  box-shadow: 0px 0px 2px 2px #fff;
}

#container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.home {
  padding: 10px;
  background-color:#fff;
  margin-right: 10px;
  margin-left: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #fff;
}

.home a {
text-decoration: none;
}

h1 {
  font-size: 28px;
}

.card {
  height: 300px;
  width: 200px;
  margin: 10px;
  padding: 20px;
  background-color: rgb(143, 210, 255);
  border-radius: 10px;
}

img {
  width: 200px;
}

